<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dashboard-main.css">
    <title>MEOWCUP - Dashboard</title>
  </head>
  <body>
    <h1 class="title">DASHBOARD </h1>
   
    <p>
      Logged in as <span><%= user.username.substring(0, user.username.length-4); %> </span>
      <button class="btn-logout" type="button" onclick="location.href = '/auth/logout'">LOGOUT</button>
    </p>
    <hr />

    <div class="guild-grid row">
      <% let ownedGuilds = [] %>
      <% user.guilds.forEach((guild) =>{ %>
        <% if (guild.owner){ %>
          <% ownedGuilds.push(guild) %>
        <% } %>
      <% }) %>
      <% if (ownedGuilds.length === 0){ %>
        <div id="no-server" class="col-12 text-center"> 
          <div>

            <p><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
            </svg></p>
            <p>  YOU DON'T OWN ANY SERVER! </p>

          </div>

        </div>
      <% } else { %>
        <% ownedGuilds.forEach((guild)=>{ %> 
          <%- include('partials/guild', {guild});%> 
        <% }) %>
      <% } %>
      
    </div>

    <%- include('partials/footer');%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
