<div class="footer row fixed-bottom">
    <div class="bot-footer col-12">
        <img src="assets/meow_textgreen.png" width="150">
        <br />
        Copyright © 2022 Andrea Marucci - All Rights Reserved
        <br>
        
    </div><br/>
    <div class="nouridio">website designed by <a href="http://andreamarucci.com" target="_blank">andrea marucci</a></div>
   
</div>